<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define the dependancy here -->
	<bean id="myFortune" class="com.spring.services.HappyFortuneService"></bean>

	<!-- Define your beans here -->
	<bean id="myCoach" class="com.spring.beans.BaseballCoach">
		<!-- set up constructor injection -->
		<constructor-arg ref="myFortune" />
	</bean>

	<bean id="myTrackCoach" class="com.spring.beans.TrackCoach">
		<!-- set up CONSTRUCTOR injection -->
		<constructor-arg ref="myFortune" />
	</bean>
	
	<bean id="myCricketCoach" class="com.spring.beans.CricketCoach">
		<!-- set up SETTER injection -->
		<property name="fortuneService" ref="myFortune"/>
		
		<!-- inject literal values -->
		<property name="emailAddress" value="dku2@java.com"/>
		<property name="team" value="javaTeam"/>
	</bean>
</beans>

